.attachment-info-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

    .info-wrapper {
        display: flex;
        align-items: center;
        gap: 5px;

        .info-text {
            color: #bdbdbd;
            font-size: 10px;
            font-weight: 500;
        }
    }
}
