.list-and-card-add-button {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background: #dae4fd;
    color: #2f80ed;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 8px 6px 12px;
    border-radius: 8px;
    align-self: start;
}
