.social-button {
    border: 1px solid #828282;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    display: grid;
    place-items: center;
    cursor: pointer;

    .social-icon {
    }
}

.social-btn-disable {
    cursor: not-allowed;
}
