.avatar-uploader {
    width: fit-content !important;

    .uploaded-image {
        object-fit: cover;
    }

    .upload-element-wrapper {
        position: relative;
        cursor: pointer;

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 12px;
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
