.navbar-res-wrapper {
    padding: 24px 24px 18px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);

    .navbar {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-options {
            display: flex;
            align-items: center;
        }

        .board-nav-info {
            display: flex;
            align-items: center;
            gap: 18px;
        }
    }
}
