.task-add-modal-description {
    .task-description-header {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 14px;

        .title-wrapper {
            display: flex;
            align-items: center;
            gap: 6px;

            .title {
                color: #bdbdbd;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
}
